* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color:brown;
}

.inventory{
    /* margin-top: 19px;
    padding: 13px;
    border: 3px solid black; */
}

.adminPanel{
  background-color: blue;
  margin: 13px;
  padding: 20px;
}

.link_admin {
  padding: 10px;
  background: beige;
  margin: 30px;
}

.bookview{
  border: 1px solid black;
  margin: 7px;
}

.orderView{
  border-bottom: 3px solid black;
}